.container {
  width: 80%;
  margin: 0px auto;
  font-size: 1em;
  font-family: "Arial", Georgia, Serif;
  font-size: 15px;
}
header {
  text-align: center;
  border: 1px solid #ccc;
  background: #fafafa;
}
a {
  color: #333;
  text-decoration: none;
}
section,
aside {
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
section {
  float: right;
  width: 88%;
  height: 700px;
  background: #fafafa;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
aside {
  padding-top: 2%;
  float: left;
  width: 11%;
  height: 700px;
  background: #ccc;
  color: #333;
  box-sizing: border-box;
}
nav {
  padding-right: 3%;
  overflow: hidden;
  background: #444;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
nav ul {
  list-style-type: none;
  float: left;
  padding: 0px;
  width: 100%;
  display: table;
  text-align: right;
}
nav ul li {
  display: inline-block;
  float: none;
  padding: 3px 10px;
  margin: 2px;
  background: #fafafa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
nav ul li:hover {
  background-color: #ccc;
  text-decoration: underline;
}
nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #333;
}
footer {
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0px 10px 0px;
  background-color: #333;
  text-align: center;
}
footer a {
  color: #fff;
}
.menu a:hover {
  color: #fff;
  text-decoration: underline;
}
#tabla {
  margin: 50px;
}
table {
  width: 80%;
  border-collapse: collapse;
  background-color: white;
  text-align: center;
}
tr {
  border-bottom: 1px solid #ddd;
}
tr,
td {
  padding: 2%;
}
tr:hover td {
  background-color: #ddd;
}
thead {
  color: white;
  background-color: #333;
}
